
<h1> Edit Persons Info </h1>
<hr />

<div class="container">

<%= form_for @people do |f| %>

  <div class="form-group">
    <%= f.label "Full Name" %>
    <%= f.text_field :name %>
  </div>
  <br />

  <div class="form-group">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>


  <div class="form-group">
    <%= f.label :hair_color%>
    <%= f.text_field :hair_color%>
  </div>

  <div class="form-group">
    <%= f.label :race%>
    <%= f.text_field :race%>
  </div>

  <div class="form-group">
    <%= f.label :alive %>
    <%= f.check_box :alive, {}, true, false %>
  </div>
</div>
  <%= f.submit %>
<% end %>
